<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
   </include>

<!-- spawning Kraken-->
<node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find testrobot_description)/kraken_model/model.sdf -sdf  1 -model kraken_model" />
</launch>
