<launch>
    <arg name="gui" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="set_timeout" default="false"/>
    <arg name="timeout" default="0.0"/>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find testrobot_gazebo)worlds/lake.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!--node name="publish_world_models"
        pkg="testrobot_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            meshes:
                lake:
                    mesh: package://testrobot_gazebo/world_models/lake/meshes/LakeBottom.dae
                    model: lake             
        </rosparam>
    </node>

    <group if="$(arg set_timeout)">
        <include file="$(find testrobot_assistants)/launch/set_simulation_timer.launch">
            <arg name="timeout" value="$(arg timeout)"/>
        </include>
    </group-->


<!-- spawning Kraken-->
<node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find testrobot_description)/kraken_model/model.sdf -gazebo -model kraken_model"/>


<!--starting thruster_manager node-->

</launch>
